<h1>Create Project</h1>

<div class="form-group">
  <label for="title">Title:</label>
  <input #Title>
</div>
<div class="form-group">
  <label for="creator">Creator:</label>
  <input #Creator>
</div>
<div class="form-group">
  <label for="description">Description:</label>
  <input #Description>
</div>
<div class="form-group">
  <label for="goal">Goal:</label>
  <input #Goal>
</div>
<div class="form-group">
  <label for="type">Type:</label>
  <input #Type>
</div>
<button type="button" name="button">Create Project</button>
