<h1>Create Project</h1>

<div class="form-group">
  <label for="title">Title:</label>
  <input #newTitle>
</div>
<div class="form-group">
  <label for="creator">Creator:</label>
  <input #newCreator>
</div>
<div class="form-group">
  <label for="description">Description:</label>
  <input #newDescription>
</div>
<div class="form-group">
  <label for="goal">Goal:</label>
  <input #newGoal>
</div>
<div class="form-group">
  <label for="category">category:</label>
  <input #newCategory>
</div>
<button (click)="submitForm(newTitle.value, newCreator.value, newDescription.value, newGoal.value, newCategory.value); newTitle.value=''; newTitle.value=''; newCreator.value=''; newDescription.value=''; newGoal.value=''; newCategory.value=''">Create Project</button>
