<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">GiveMeMoney</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="new-project" routerLink="new-project-form">Start a project</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1 class="banner">{{title}}</h1>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
