<h4>Filter by category:</h4>
<select class="filter" (change)="onChange($event.target.value)">
  <option value="technology">Technology</option>
  <option value="charity">Charity</option>
  <option value="all" selected="">Show All</option>
</select>
<div class="well" *ngFor="let project of projects | async | categoryFilter:filterByCategory">
    <h3 (click)="goToProjectDetailPage(project)" class="title-creator">{{project.title}} by {{project.creator}}</h3>
    <h6 class="category">{{project.category}}</h6>
    <br>
    <h5 class="description">{{project.description}}</h5><br>
    <h4 class="amount-goal">Amount Raised: {{project.raised}} Goal: {{project.goal}}</h4>
    <hr>
    <div *ngIf = "currentRoute === '/admin'">
      <edit-project [selectedProject]="project"></edit-project>
    </div>
</div>
